.Friends_wrapper{
    font-size: 16px;
    width: 900px;
    display: flex;
}
.friend_avatar{
    margin: 0 20px 20px 0;
    width:80px;
    height:80px;
    border-radius: 50%;
}
.userInfoWrapper{
    flex-direction: column;
    display: flex;
    width:60%;
}
.UserInfoNameAndLocWrapper{
    font-size: 22px;
    display: flex;
    justify-content: space-between;
}
.buttonFollow{
    width: 80px;
    height: 30px;
    padding: 5px 5px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 5%;
    background-color: crimson;
    border: none;
    color:white;
}
.buttonFollow:hover{
    transition: 0.25s;
    background-color: white;
    color:crimson;
}
.Selected{
    font-size: 18px;
    font-weight: bold;
}